<div class="container-fluid">
  <div class="row">
      <div class="bg-light sticky-top">
          <div class="navbar navbar-light d-flex flex-row flex-nowrap bg-light align-items-center sticky-top">
              <a href="/" class="navbar-brand text-decoration-none" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
                  <i class="bi-bootstrap fs-10"></i>
              </a>
              <ul class="nav nav-pills nav-flush flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
                  <li class="nav-item">
                      <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                          <i class="bi-house fs-10"></i>
                          <span class="d-none d-lg-block d-xl-block">Home</span>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                          <i class="bi-speedometer2 fs-10"></i>
                          <span class="d-none d-lg-block d-xl-block">Analytics</span>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                          <i class="bi-table fs-10"></i>
                          <span class="d-none d-lg-block d-xl-block">Stats</span>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Products">
                          <i class="bi-heart fs-10"></i>
                          <span class="d-none d-lg-block d-xl-block">Favs</span>
                      </a>
                  </li>
                  <li>
                      <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Customers">
                          <i class="bi-people fs-10"></i>
                          <span class="d-none d-lg-block d-xl-block">Users</span>
                      </a>
                  </li>
              </ul>
              <div class="dropdown">
                  <a href="#" class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle" id="dropdownUser3" data-bs-toggle="dropdown" aria-expanded="false">
                      <i class="bi-person-circle fs-10"></i>
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end text-small" aria-labelledby="dropdownUser3">
                      <li><a class="dropdown-item" href="#">New project...</a></li>
                      <li><a class="dropdown-item" href="#">Settings</a></li>
                      <li><a class="dropdown-item" href="#">Profile</a></li>
                  </ul>
              </div>
          </div>
          <div class="d-flex justify-content-center">            
            <select class="form-select-sm col-xs-4">
              <option value="" disabled selected>Select an API</option>
              <option value="1">Another API</option>
              <option value="2">Another API from another application</option>
              <option value="3">This is an example of a long API description displayed under the dropdown menu</option>
            </select>
          </div>
      </div>
      <div class="col-sm p-3 min-vh-100">
          <!-- content -->
          <router-outlet></router-outlet>
      </div>
  </div>
</div>


